@font-face {
  @import url('https://fonts.googleapis.com/css?family=Acme|Montserrat&display=swap')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

h2, h3 {
  text-align: center;
  margin: 2em;
}

body {
  font-family: 'Acme', sans-serif;
  font-size: 1.2em;
}

nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(34, 34, 34, 0.0);
  padding: 18px;
  -webkit-transition: all ease-in .4s;
  -moz-transition: all ease-in .4s;
  -o-transition: all ease-in .4s;
  transition: all ease-in .4s;
}

.navactive {
  background-color: rgba(34, 34, 34, 0.9);
}

nav, a {
  font-size: 1.1em;
  color: #444;
  text-shadow: 1px 1px #fff;
}

nav, a:hover {
  color: black;
}

header {
  background-color: #888;
  background-image: linear-gradient(#111, #999);
}

section {
  background-color: #dcdcdc;
}

article header {
  color: #999;
  padding: 1em;
  text-shadow: 1px 1px #000;
  letter-spacing: 0.5em;
}

article section p {
  padding: 1em;
}

.main-header {
  width: 100%;
  height: 300px;
}

.header-title {
  padding-top: 130px;
  text-align: center;
  text-shadow: 1px 1px #fff;
  letter-spacing: 2em;
}

.header-description {
  padding-left: 100px;
  padding-top: 80px;
}

#content {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 1em;
}

#curr-select {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  padding: 1em;
}

#curResult {
  padding: 2em;
}

footer {
  grid-template-columns: 1fr;
  background-color: #999;
  background-image: linear-gradient(#999, #111);
  text-align: center;
  text-shadow: 1px 1px #000;
  color: #999;
  padding: 1em 0;
}

input[type=text], [type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  border-radius: 5px;
  background-color: #dcdcdc;
  padding: 20px;
}

#contact {
  width: 40%;
  margin: 64px auto;
}

#contact h2 {
  text-align: center;
  margin: 32px;
}

#js_games {
  text-align: center;
  margin-top: 10em;
}

#fibonacci {
  margin: 2em;
}

#random {
  margin: 2em;
}

#pifagor {
  margin: 2em;
  display: table;
  border-collapse: collapse;
}

#pifagor div {
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  text-align: center;

}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell-main {
  background-color: green;

}

.cell-umain {
  background-color: yellow;
}

.cell-omain {
  background-color: aqua;
}

.cell-even {
  background-color: white;
}
